{% extends 'base.html' %}
{% load custom_filter_tags %}
{% load static %}


{% block css %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: {{eventos_json|safe}}
        });
        calendar.render();
      });

    </script>

{% endblock %}



{% block main %}


{% include 'message.html' %}

              <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                                 <h2>Calendário das Atividades</h2>
                           </div>

                        </div>
                     </div>
<div class="row column1">
 <nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" selected><a class="btn btn-light" href="{% url 'task_list' %}">Lista</a></li>
            <li class="breadcrumb-item"><a class="btn btn-light" href="{% url 'task_calendario' %}"> Calendário</a></li>
            <li class="breadcrumb-item">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+ Ações</button>
                                    <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModal">Criar Atividade</button>
                                                      <a type="button" class="dropdown-item" href="{% url 'relatorio_download' %}">Emitir Relatório</a>
                                    </div>
            </li>
        </ol>
</nav>



<div class="col-md-12">
    <div id='calendar'></div>
</div>





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form name="form" id="formtask" class="form-horizontal" method="post" action="{% url 'task_new' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
          <h3 class="modal-title">Adicionar Tarefa </h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <input type="file" name="arquivo"  class="file-upload-default">
              <input type="hidden" name="project_id"  id="project_id" value="{{projeto.id}}">
              {{ form_task }}
          </div>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
    </form>
  </div>
</div>



{% endblock %}
