
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Neurondat - Todo</title>
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Login</h3>
                <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                 {{ form.non_field_errors  }}
                  <div class="form-group">
                    <label>E-mail *</label>
                    <input class="form-control p_input" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input class="form-control p_input" type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                  <div class="text-center">
                    <input type="hidden" name="next" value="{{next}}"/>

                    <p>
                      <input type="submit" class="btn btn-success btn-block enter-btn" style="'display': inline-block" value="Login">

                    </p>
                      <p>
                          Novo por aqui? <a class="" href="{% url 'register' %}">Crie uma conta!                       </a>Esqueceu a senha? Clique <a class="" href="{% url 'password_reset' %}">aqui</a>
                      </p>
                  </div>

                </form>



              </div>




            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

  </body>

</html>