{% load static %}
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Liberta</title>
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Esqueceu sua senha?</h3>
                    <p>Enviamos um e-mail com instruções para você resetar a sua senha</p>
                    <p>Caso o e-mail não tenha chegado, verifique se você colocou o e-mail cadastrado no sistema!</p>
                  <p><input type="submit" value="Enviar e-mail"></p>
                    {% csrf_token %}
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

  </body>

</html>