{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Neurondat - Todo</title>
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Cadastro</h3>
                <form class="form-horizontal" action="{% url 'register' %}" method="post">
                  {% csrf_token %}


                  <div class="form-group">
                  {{user_profile_formset.erros}}
                  {{user_profile_formset.as_p}}
                  {{user_form.erros}}
                  {{user_form.as_p}}

                  </div>
                  <div class="row"  style='text-align:right'>
                    <p><input class="btn btn-success" type="submit" value="Criar Conta"></p>
                  </div>


                </form>


              </div>



            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

  </body>

</html>
